/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .list-item
  class
*/


.simple.list-item {
  opacity:1;
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}

.simple.list-item.touch-active {
  opacity: 0;
}
