.list-item.ng-enter, .list-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.list-item.ng-enter { color: red; }        /* starting animations for enter */
.list-item.ng-enter-active { color: green; } /* terminal animations for enter */
.list-item.ng-leave { color: blue; }        /* starting animations for leave */
.list-item.ng-leave-active { color: yellow; } /* terminal animations for leave */
