<!DOCTYPE html>
<html lang="en" ng-app="DraggableListDemo">
  <head>
    <meta charset="utf-8">
    <title>angular-pikaday by nverba</title>
    <meta name="description" content="A draggable list directive for AngularJS">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/draggable-list.css">
    <link rel="stylesheet" href="lib/highlight/styles/github.css">

    <script src="lib/angular.js"></script>
  </head>
  <body ng-controller="Ctrl">

    <div id="hero">
      <div class="wrap">
        <div class="brand">
          <img src="img/screenshot.png" class="screenshot" alt="Screenshot" />
          <h1>angular-draggable-list</h1>
        </div>
        <h3 class="tagline">An AngularJS directive for draggable lists</h3>
        <a href="https://github.com/nverba/angular-draggable-list" target="_blank" class="button github-button">View on GitHub</a>
      </div>
    </div>

    <div id="content">
      <div class="wrap">
        <div id="marked">

<!-- MARKDOWN CONTENT /////////////////////////////////////////////////////////////////////////////////// -->

A simple, draggable list directive for AngularJS, using the HTML5 drag and drop API.

### Inject the module

```
app = angular.module('DemoApp', ['draggableList'])
```

### Basic usage (no CSS)
Pass the scope to the `draggable-list` directive.

```
<ul>
  <li ng-repeat="item in array" draggable-list="array" draggable="true">{{ item }}</li>
</ul>
```

<ul>
  <li ng-repeat="item in array" draggable-list="array" draggable="true">{{ item }}</li>
</ul>

__Scope: `{{ array }}`__


<!-- CLOSE MARKDOWN CONTENT ///////////////////////////////////////////////////////////////////////////// -->

        </div>
      </div>
    </div>

    <div id="footer">
      <div class="wrap">
        <p class="license">Code licensed under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      </div>
    </div>

    <script src="lib/marked.js"></script>
    <script src="lib/highlight/highlight.pack.js"></script>

    <script>
        var mark = document.getElementById("marked");
        mark.innerHTML = marked(mark.innerHTML);
        hljs.initHighlightingOnLoad();
    </script>

    <script src="lib/moment.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/draggable-list.js"></script>

  </body>
</html>
