<!DOCTYPE html>
<html lang="en" ng-app="DraggableListDemo">
  <head>
    <meta charset="utf-8">
    <title>angular-draggable-list</title>
    <meta name="description" content="A simple AngularJS directive for sortable lists using the HTML5 drag and drop API.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/draggable-list.css">
    <link rel="stylesheet" href="lib/highlight/styles/github.css">
  </head>
  <body ng-controller="Ctrl">

    <div id="hero">
      <div class="wrap">
        <div class="brand">
          <h1>angular-draggable-list</h1>
        </div>
        <h3 class="tagline">An AngularJS directive for draggable, sortable lists</h3>
        <a href="https://github.com/nverba/angular-draggable-list" target="_blank" class="button github-button">View on GitHub</a>
      </div>
    </div>

    <div id="content">
      <div class="wrap">
        <div id="marked">

<!-- MARKDOWN CONTENT /////////////////////////////////////////////////////////////////////////////////// -->

A simple directive for sortable lists using the HTML5 drag and drop API.

### Basic usage (no CSS)

Include the `draggableList` module as a dependency.

```
app = angular.module('DemoApp', ['draggableList']);
```

Pass the named scope to the `draggable-list` attribute, and set the element's `draggable` attribute to `true`.

```
<ul>
  <li ng-repeat="item in array" draggable-list="array" draggable="true">{{ item }}</li>
</ul>
```

<ul>
  <li ng-repeat="item in array" draggable-list="array" draggable="true">{{ item }}</li>
</ul>

__Scope: `{{ array }}`__


<!-- CLOSE MARKDOWN CONTENT ///////////////////////////////////////////////////////////////////////////// -->

        </div>
      </div>
    </div>

    <div id="footer">
      <div class="wrap">
        <p class="license">Code licensed under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      </div>
    </div>

    <script src="lib/marked.js"></script>
    <script src="lib/highlight/highlight.pack.js"></script>

    <script>
        var mark = document.getElementById("marked");
        mark.innerHTML = marked(mark.innerHTML);
        hljs.initHighlightingOnLoad();
    </script>

    <script src="lib/angular.js"></script>
    <!--[if lte IE 9]>
      <script src="js/draggable-list-ie9-shim.js"></script>
    <![endif]-->
    <script src="js/draggable-list.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
